/* retoques html */
html {
    width:100%;
    
}

/* cuerpo pagina */
body {
    background-image:url("../img/back.jpg");
    background-size: 100%;
	margin:0;
	padding:0;
}

/* cabecera de la pagina */
#title {
    text-align:center;
}

/*  div de instrucciones para la navegación */ 
#nav {
    position:absolute;
    right: 5%;
    top:20%;
    background-color:white;
    width:10%;
    text-align:center;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding:1.5%;
    
}

/** boton de ayuda **/

#helpButon:hover {
	opacity: 1;
	/* Firefox */
	-moz-transform: scale(1.5) translate(10px);
	/* WebKit */
	-webkit-transform: scale(1.5) translate(10px);
	/* Opera */
	-o-transform: scale(1.5) translate(10px);
	/* Standard */
	transform: scale(1.5) translate(10px);
	z-index: 1000;
}

#helpButon {
        /* Firefox */
	-moz-transition: all 1s ease;
	/* WebKit */
	-webkit-transition: all 1s ease;
	/* Opera */
	-o-transition: all 1s ease;
	/* Standard */
	transition: all 1s ease;
}
/* div popUp que muestra las instrucciones al cargar la página */ 

#navPopUp {
    position:fixed;
    right: 1%;
    top:18%;
    background-color:white;
    width:16%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding:1.5%;
    border : solid 5px red;
}

#navTextImg {
    width:50%;
}

/*  imagen gato */ 
#img img {
    width:10%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

/* imagenes teclas */
.keyImg {
    width:50px;
}

/* flecha parpadeante */
#flecha {
        font-size:20px;
          animation: blinker 0.6s linear infinite;
} 

@keyframes blinker {  
  50% { opacity: 0.0; }
}

/* menu tipo final fantasy */
.finalFantasyMenu {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border:ridge 5px white;
    background-color:blue;
    color:white;
    font-size:50px;
    padding:20px;
    margin-left:3%;
    margin-right:22%;
    font-family:"Final Fantasy 3/6 Font Regular";
}
.lineaFinalFantasyMenu div {
    display:inline;
}

/* pseudoclases de enlaces */
a:link   
{   
 text-decoration:none;   
} 

a:visited   
{   
 text-decoration:none;  
 color:white;
} 

/* footer */
#copyright {
    background: #172d4f;
    height: 30px;
    width: 100%;
    margin-top: 550px;
    text-align: center;
    color: grey;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
}

a.nounderline:link {   
    text-decoration:none;
    color:white;
    font-style: italic;
}  
a.nounderline:visited {   
    text-decoration:none;
    color:white;
    font-style: italic;
} 



